main,
header {
  margin-top: 1.4rem;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr;
}

main .header-main-content section {
  position: relative;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  height: 42vh;
}

main .header-main-content h1 {
  color: var(--color-dark);
}

main .header-main-about-me > p {
  font-size: 1.1rem;
}

main .header-main-about-me .highlight-text {
  color: var(--color-dark);
}

main .header-main-about-me .download-btn > p {
  cursor: pointer;
  float: right;
  display: flex;
  position: absolute;
  margin-bottom: 0.9rem;
  width: 100%;
  bottom: 0;
}

main .header-main-about-me .download-btn > p:hover {
  color: var(--color-danger);
}

header .header-info {
  text-align: center;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  height: 45vh;
  position: relative;
}

header .header-info h1 {
}

header .header-info img {
  margin-left: 1rem;
  width: 15rem;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

header .header-info .header-location {
  margin-top: 0.5rem;
}

header .header-info .header-location p {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-info .header-education {
}

header .header-social {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

header .header-social ul {
  position: absolute;
  margin-bottom: 0.9rem;
  left: 0;
  width: 100%;
  bottom: 0;
}

header .header-social ul > li {
  display: inline-block;
  width: 20%;
}
