.header-container {
  margin-top: 1.4rem;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 20rem 1fr 1fr;
}

.header-container main {
  grid-column-start: 1;
}
.header-container header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .header-main-content section {
  position: relative;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  border: 2px solid var(--color-light);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  max-width: 35vw;
  height: 42vh;
}

main .header-main-content h1 {
  color: var(--color-dark);
}

main .header-main-about-me > p {
  font-size: 1.1rem;
}

main .header-main-about-me .highlight-text {
  color: var(--color-dark);
}

main .header-main-about-me .download-btn > p {
  cursor: pointer;
  float: right;
  display: flex;
  position: absolute;
  margin-bottom: 0.9rem;
  width: 100%;
  bottom: 0;
}

main .header-main-about-me .download-btn > p:hover {
  color: var(--color-danger);
}

header .header-info {
  text-align: center;
  background-color: var(--color-white);
  position: relative;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  border: 2px solid var(--color-light);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  height: 45vh;
}

header .header-info h1 {
}

header .header-info img {
  margin-left: 1rem;
  width: 15rem;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

header .header-info .header-location {
  margin-top: 0.5rem;
}

header .header-info .header-location p {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-info .header-education {
}

header .header-social {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

header .header-social ul {
  position: absolute;
  margin-bottom: 0.9rem;
  left: 0;
  width: 100%;
  bottom: 0;
}

header .header-social ul > li {
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 768px) {
  .header-container {
    overflow: hidden;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  main .header-main-content section {
    max-width: 96vw;
    height: auto;
  }

  main .header-main-content h2 {
    text-align: center;
  }

  main .header-main-content section p {
    font-size: 1rem;
    text-align: center;
  }

  main .header-main-content section,
  header .header-info {
    border: 1px solid var(--color-light);
  }

  main .header-main-content section,
  header .header-info {
    height: auto;
  }

  main .header-main-about-me .download-btn > p {
    cursor: pointer;
    justify-content: center;
    float: none;
    display: flex;
    position: inherit;
    margin-top: 0.9rem;
    width: 100%;
  }

  .header-container header {
    grid-row-start: 1;
    grid-template-columns: 1fr;
  }

  header .header-info img {
    margin-left: 0;
    width: 9rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  header .header-location {
    margin-top: 0;
  }
  header .header-info h2 {
    font-size: 1rem;
  }
  header .header-education p {
    font-size: 0.8rem;
  }

  header .header-location p {
    font-size: 0.7rem;
    margin-bottom: 2rem;
  }
  header .header-info ul {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
