.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 12rem 1fr;
}

.container-collapsed {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 5rem 1fr;
}

@media screen and (max-width: 768px) {
  .container,
  .container-collapsed {
    width: 100%;
    grid-template-columns: 2rem 1fr;
    padding: 0 var(--padding-1);
  }
}
